In [2]:
import pandas as pd
import numpy as np

In [3]:
mvp = pd.read_csv("/Users/sonali.gupta/Downloads/Insomnia/MVP_R4.1000G_AGR.Phe_327_4.EUR.GIA.dbGaP.txt", sep = "\t")

In [4]:
mvp.head()

,SNP_ID,chrom,pos,ref,alt,ea,af,num_samples,case_af,num_cases,control_af,num_controls,or,ci,pval,r2,q_pval,i2,direction
0,rs558358031,1,60879.0,G,A,A,0.9994,408138,0.9995,78566,0.9994,329572,1.1600,"0.7583,1.774",0.494300,0.3310,NaN,NaN,NaN
1,rs562476259,1,85941.0,T,C,C,0.9987,408138,0.9988,78566,0.9987,329572,1.1320,"0.8541,1.499",0.389000,0.3228,NaN,NaN,NaN
2,rs567575968,1,133166.0,A,G,G,0.9998,408138,0.9998,78566,0.9998,329572,0.8544,"0.4988,1.463",0.566600,0.4974,NaN,NaN,NaN
3,rs573978839,1,268598.0,T,G,G,0.9995,408138,0.9996,78566,0.9995,329572,1.1830,"0.7726,1.812",0.439400,0.3631,NaN,NaN,NaN
4,rs531691745,1,284844.0,C,A,A,0.9980,408138,0.9982,78566,0.9979,329572,1.3540,"1.086,1.689",0.003976,0.3389,NaN,NaN,NaN

In [5]:
ukbb = pd.read_csv("/Users/sonali.gupta/Downloads/Insomnia/Lifted_Hammerschlag_NatGenet2017_insomnia_sumstats-full_090617.txt", sep = "\t")

In [6]:
ukbb.head()

,SNP,UNIQUE_ID,CHR,POS,A1,A2,EAF,OR,BETA,SE,...,A,0.5117729999999999,1.00065,-0.00170299,0.00955389,0.8585299999999999,113006,32384,80622,0.967944
0,rs375093451,10:39145519_G_C,10,38852388,C,G,0.058873,1.003360,0.003455,0.020214,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,.,10:39145559_TGAATGGAATGGACTC_T,10,38852428,T,TGAATGGAATGGACTC,0.478942,1.001780,-0.000392,0.010096,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,rs566496929,10:39146077_ATGGAATGGAATCGAATGGAATGGAC_A,10,38852946,A,ATGGAATGGAATCGAATGGAATGGAC,0.047268,1.006160,0.006466,0.024062,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,rs200485340,10:39146089_C_G,10,38852958,G,C,0.448019,0.999235,-0.003044,0.009605,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,rs562508083,10:39146099_G_T,10,38852968,T,G,0.045801,1.007070,0.007498,0.024224,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:

merged_df = pd.merge(mvp[['SNP_ID','chrom','pos','alt','ref','or','ci']], ukbb[['SNP','POS','A2','A1','BETA','SE']], 
                     left_on=['SNP_ID', 'pos', 'alt', 'ref'], 
                     right_on=['SNP', 'POS', 'A2', 'A1'],
                     how='inner')

In [8]:
merged_df

,SNP_ID,chrom,pos,alt,ref,or,ci,SNP,POS,A2,A1,BETA,SE
0,rs530212009,1,757414.0,CA,C,1.0210,"0.9902,1.053",rs530212009,757414,CA,C,0.000843,0.016250
1,rs61769351,1,758443.0,G,C,1.0200,"0.9838,1.057",rs61769351,758443,G,C,0.000292,0.016210
2,rs200531508,1,775930.0,G,A,1.0420,"0.9985,1.088",rs200531508,775930,G,A,-0.027388,0.024389
3,rs4951859,1,794299.0,C,G,0.9806,"0.9624,0.9992",rs4951859,794299,C,G,-0.003395,0.014410
4,rs148120343,1,794707.0,T,C,1.0260,"0.9826,1.071",rs148120343,794707,T,C,-0.006072,0.020930
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11095634,rs534865882,22,50791027.0,G,C,0.9818,"0.9429,1.022",rs534865882,50791027,G,C,0.020075,0.022147
11095635,rs9616985,22,50791377.0,T,C,1.0120,"0.9871,1.037",rs9616985,50791377,T,C,0.000359,0.019268
11095636,rs368226325,22,50792792.0,A,G,0.9832,"0.9452,1.023",rs368226325,50792792,A,G,0.022635,0.022142
11095637,rs200507571,22,50797585.0,A,AT,0.9915,"0.9692,1.014",rs200507571,50797585,A,AT,0.013258,0.011909
11095638,rs370652263,22,50799284.0,G,A,0.9940,"0.9554,1.034",rs370652263,50799284,G,A,0.013324,0.021951

In [10]:
# Assuming 'merged_df' is your DataFrame
merged_df['log_OR_x'] = -1*np.log(merged_df['or'])
merged_df[['ci_lower', 'ci_upper']] = merged_df['ci'].str.split(",", expand=True).astype(float)
merged_df['SE_x'] = (np.log(merged_df['ci_upper'])-np.log(merged_df['ci_lower']))/(2*1.96)
#merged_df['BETA'] = -1*merged_df['BETA']

In [11]:
merged_df = merged_df[['SNP','chrom','pos','A1','A2','log_OR_x','BETA','SE_x','SE']]

In [12]:
merged_df.columns = ['SNP', 'CHR', 'POS', 'REF', 'ALT', 'BETA1', 'BETA2', 'SE1',  'SE2']

In [13]:
merged_df.head()

           SNP  CHR       POS REF ALT     BETA1     BETA2       SE1       SE2
0  rs530212009    1  757414.0   C  CA -0.020783  0.000843  0.015687  0.016250
1   rs61769351    1  758443.0   C   G -0.019803  0.000292  0.018308  0.016210
2  rs200531508    1  775930.0   A   G -0.041142 -0.027388  0.021899  0.024389
3    rs4951859    1  794299.0   G   C  0.019591 -0.003395  0.009573  0.014410
4  rs148120343    1  794707.0   C   T -0.025668 -0.006072  0.021976  0.020930

In [15]:
merged_df.to_csv('output/merged_insomnia_mvp_ukbb_final_3.csv', index=False)